#root {
  font-family: Yekan !important;
  font-size: .92rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

button {
  font-family: Yekan;
  border: none;
  cursor: pointer;
  height: 40px;
}

a {
  text-decoration: none;
  color: black;
}


/* navbar */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: auto;
  padding: 2px 0 7px;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  transition: all 0.3s ease;
}

.navbar .title {
  margin: 11px 28px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 125px;
  height: 30px;
  margin-left: 8px;
}

.options>ul {
  display: flex;
  list-style-type: none;
}

.options li {
  margin: 0 15px;
  position: relative;
}

.navbar .options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options button {
  width: 90px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  background-color: rgba(196, 220, 242, 0.621);
  color: rgb(21, 72, 118);
  margin-right: 20px;
}

.options button:hover {
  background-color: rgb(248, 248, 170);
}

.options li a{
  text-decoration: none;
  color: black;
}

.nav-more {
  display: flex;
}

.nav-more img {
  width: 8px;
  margin-right: 8px;
}

.burger-icon {
  display: none;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;  
  background-color: #fff;
  border-radius: 20px;
  transform: translateY(-110%);
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 1.3rem;
}

.show-burger-menu {
  opacity: 1;
  transform: translateY(0);
}

.cross-icon {
  text-align: left;
  padding: 15px;
  margin-top: 3px;
  margin-left: 3px;
}
.burger-more-items {
  padding: 10px 30px;
}

.burger-more-items ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.burger-more-items li {
  padding: 0;
  margin: 0;
}

.burger-more-items div {
  height: 1px;
  background-color: rgb(235, 235, 235);
  margin: 10px 0;
  width: 90%;
}

.burger-more-button {
  display: flex;
  padding: 20px 30px;
  background-color: rgb(232, 232, 232);
}

#show-product-menu {
  position: relative;
}

.product-menu {
  
  display: none;
  justify-content: space-around;
  position: absolute;
  top: 20px;
  left: -150px;
  width: 373px;
  border-top: 5px solid rgb(220, 209, 95);
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 1px 1px 8px rgb(229, 229, 229);
}


.show-product {
  display: flex;
}

.product-menu div {
  width: 50%;
}
.product-menu a {
  margin: 10px 0px;
  padding: 5px;
  display: inline-block;
}
.product-menu a:hover {
  background-color: aliceblue;
  border-radius: 5px;
}
.product-menu a > p:first-child {
  color: #000;
  font-size: 1rem;
}
.product-menu a > p:last-child {
  color: rgba(0, 0, 0, 0.735);
  font-size: 0.7rem;
}


#show-more-menu {
  position: relative;
}

#show-more-menu ul {
  display: none;
  position: absolute;
  top: 20px;
  left: -38px;
  width: 135px;
  list-style-type: none;
  border-top: 5px solid rgb(220, 209, 95);
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 8px rgb(229, 229, 229);
  padding: 20px 10px; 
  text-align: center;
  transition: all 1.3s ease !important;
}

.show-more {
  display: block !important;
}

#show-more-menu ul li {
  margin: 3px 0px;
}
#show-more-menu ul li:hover {
  background-color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
}

/* Banner */

.banner {
  width: 1170px;
  padding: 124px 60px 80px;
  background-image: linear-gradient(135deg, #21254e, #2b4a83);
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.banner-text h2 {
  font-size: 2rem;
  color: #fff
}

.banner-text p {
  color: #fff;
  font-size: 1.15rem;
  margin: 25px 0px;
  line-height: 2.5rem;
}

.banner .banner-img img {
  width: 500px
}

.banner-buttons {
  margin-top: 60px;
}
.banner-buttons > .register-btn {
   font-size: 1rem;
   color: #000;
   background-color: #ffd900;
   padding: 6px 14px;
   border-radius:  10px;
   margin-left: 10px ;
}

.banner-buttons > .login-btn {
  font-size: 1rem;
  color: #fff;
  background-color: #435a8a;
  padding: 6px 14px;
  border-radius: 10px;
}

.go-down {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 58px;
}
.go-down > div {
  background: url(./images/arrowbottom.svg);
  width: 164px;
  height: 78px;   
}
.go-down > img {
  width: 15px;
  position: relative;
  bottom: 60px;
  cursor: pointer;
}


@media (max-width: 1200px) {
  .navbar {
    width: 940px;
  }
  .banner {
    width: 940px;
  }
}

@media (max-width: 990px) {
  .navbar {
      width: auto;
      padding: 0px 60px;
    }
  .options > button {
    display: none;
  }  
  .banner-img {
    display: none;
  }
  .banner {
    width: auto;
    padding: 50px 20px;
    margin-right: 60px;
    margin-left: 60px;
  }
  .banner-buttons {
    margin-top: 5px;
    margin-bottom: 25px;
  }
  .banner-text {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: auto;
    padding: 0px 8px;
  }
  .options ul{
    display: none;
  }
  
  .burger-icon {
    display: block;
  }
  .banner {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 587px) {
  .banner-text > h2 {
    font-size: 1.1rem;
    text-align: right;
  }
  .banner-text p {
    text-align: justify;
    font-size: 0.95rem;
    line-height: 1.9rem;
  }
  .banner-text {
    padding-right: 13px;
    padding-left: 13px;
  }
}

